<li class="<%=  self_or_other(message) %>">
  <div class="avatar <%= return_class_on_user_image(message) %>">
    <img src="/assets/users/<%= message_interlocutor(message).image %>" />
  </div>
  <div class="chatboxmessagecontent <%= return_class_on_user(message) %>">
    <p><%= message.body %></p>
    <time datetime="<%= message.created_at %>" title="<%= message.created_at.strftime("%d %b  %Y at %I:%M%p") %>">
      <%= message_interlocutor(message).fullname %> • <%= message.created_at.strftime("%H:%M %p") %>
    </time>
  </div>
</li>