<% provide(:title,current_user.fullname) %>
<div class="user-details-section">
    <div class="user-details-image-section">
        <h3><%= @user.fullname %></h3>
         <%= image_tag("users/"+(@user.image.to_s.blank?? "user-default.png" : @user.image.to_s),alt: @user.fullname,title: @user.fullname) %>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
           <table>
               <tr>
                   <td>
                        <span>Email : </span>
                    </td>
                    <td>  
                        <span><%= @user.email %></span>
                    </td>
                </tr>
             <tr>
                   <td>
                        <span>Street : </span> 
                   </td> 
                   <td>
                        <span><%= @user.street_line1 %>, <%= @user.street_line2 %></span>
                    </td>
             </tr>
             <tr>
                   <td>
                <span>City : </span>  
                </td>
                <td>
                <span><%= @user.city %></span>
                </td>
                </tr>
            <tr>
            <td>
                <span>State : </span>  
                </td>
                <td>
                <span><%= @user.state %></span>
                </td>
                </tr>
           <tr>
           <td>
                <span>Country : </span> 
                </td>
                <td> 
                <span><%= @user.country %></span>
                </td>
                </tr>

           <tr>
           <td>
                <span>phone : </span> 
                </td>
                <td> 
                <span><%= @user.phone %></span>
                </td>
                </tr>
            <tr>
            <td>
                <span>Pincode : </span>  
                </td>
                <td>
                <span><%= @user.pin %></span>
                </td>
           </tr>
         
     </table>
     </div>
     </div>
     <% if current_user.id == @user.id %>
         <div class="edit-link-section">
             Click <%= link_to "here",edit_user_registration_path(@user) %> to update your account 
         </div>
     <%end %>
 </div>
