<% provide(:title,"Your cart | " + current_user.fullname) %>
<h1>Your shopping cart</h1>
<div class="cart-main-section">
<%= form_for(:order, url: product_order_index_path(:product_id=>0), html: { id: "cart_form" }) do |f| %>
<% if(@carts_product && @carts_product.length > 0) %>
		<table>
		<thead>
			<tr>
				<th style="width:5%;"></th>
				<th></th>
				<th style="width:30%;">Item</th>
				<th style="width:15%;">Price</th>
				<th>Quantity</th>
				<th>Date</th>
				<th></th>
			</tr>
		</thead>
		<tbody>
<% @carts_product.each_with_index do |item,i| %>
	
			<tr>
			<td><%= check_box_tag "ids[]", item[:id], item.id %></td>
				<td><%= link_to image_tag("products/"+item.image,alt: "image"),product_path(item)%></td>
				<td><%=link_to item.name, product_path(item.product_id) %></td>
				<td>Rs. <%= item[:price] %></td>
				<td>
				 	<%= text_field(:product, :quantity,:value=>item.quantity,:id => "field_#{item.id}" , :disabled => true )%>
					<%= link_to "Edit","#", class: "edit-quantity" %>
					<%= link_to "Save", "#", id: "save_#{item.id}", class: "save-quantity", style: 'display:none;' %>
					<%= link_to "Cancel","#", class: "cancel-quantity",
					style: 'display:none;' %>
				
				</td>
				<td><%= item[:created_at].to_time.strftime('%B %e at %l:%M %p') %></td>
				<td> <%= link_to image_tag("delete-icon.png",alt: "image",title: "remove", class: "remove-product"),cart_path(item.id),method: "delete" %> </td>


			</tr>
		
<% end %>
			<tr>
				<td colspan="2">Total amount :</td><td colspan="2"> Rs. <%= @total_amount %></td>
				<%= hidden_field(:order, :amount, :value => @total_amount) %>
				<td colspan="2"><input type="button" , value= "Place order", class= "btn btn-primary", id= "plc_cart_orders" /></td>
			</tr>
			</tbody>
		</table>
				<div class="back-to-shopping">
				<%= link_to "Continue shopping", product_index_path,class: "btn btn-primary" %> 
				</div>

	<%= will_paginate @carts_product %>
	
	<%= render "layouts/shipping_address" %>

	<% else %>

	 <div class="empty-products">empty cart</div>

	<% end %>

		<% end %>
	</div>
	