<% provide(:title,resource.fullname) %>
<h2>Edit <%= resource_name.to_s.humanize %> Account</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

  <div class="field">
    <%= errors_for resource, :fullname %>
    <%= f.text_field :fullname, autofocus: true,title: "Change name", class: "form-control" %>  
  </div>
  <div class="field">
        <%= image_tag("users/"+current_user.image.to_s,alt: "image",title: current_user.fullname) %>
        
        <%= f.file_field :image%>
        
      </div>
  <div class="field">
    <%= f.email_field :email, autofocus: true ,title: "Email id", class: "form-control",disabled: true%>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>
<div class="field">
<table>
  <tr>
    <td>
      <%= f.text_field :street_line1,placeholder: "Address1", autofocus: true, class: "form-control",title: "Change Street 1", class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :street_line2,placeholder: "Address2",
      title: "Change Street 2", autofocus: true, class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_field :city,placeholder: "Enter city",
      title: "Change city", autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :state,placeholder: "Enter state",
      title: "Change state", autofocus: true, class: "form-control" %>
    </td>
    <td><%= f.text_field :country,placeholder: "Enter country", title: "Change coutry",autofocus: true, class: "form-control" %></td>
  </tr>
  <tr>
    <td>
      <%= errors_for resource, :phone %>
      <%= f.text_field :phone,placeholder: "Enter contact no.", title: "Change contact number",autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :pin,placeholder: "Enter area pin code", title: "Change area pincode", autofocus: true, class: "form-control" %>
    </td>
  </tr>
</table>
    
  </div>
  <div class="actions">
    <%= f.submit "Update", class: "btn btn-primary" %>
  </div>
<% end %>


<%= link_to "Back", :back %>
