<% provide(:title,"Create account") %>
<h3>Create account</h3>

<div class="row">
<div class="col-md-6 col-md-offset-3">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
<div class="field">
    <%= errors_for resource, :fullname %>
    <%= f.text_field :fullname,placeholder: "Enter full name", autofocus: true, class: "form-control" %>  
  </div>
  
  <div class="field">
    <%= errors_for resource, :email %>
    <%= f.email_field :email,placeholder: "Enter email", autofocus: true, class: "form-control" %>
  </div>
  <div class="field">
      <%= f.label :image, "Select image :" %>
      <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="field">
    <% if @validatable %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% else %>
    <%= errors_for resource, :password %>
    <% end %>
    <%= f.password_field :password,placeholder: "Enter password", autocomplete: "off", class: "form-control" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation,placeholder: "Enter confirm password", autocomplete: "off", class: "form-control" %>
  </div>
<div class="field">
<table>
  <tr>
    <td>
      <%= f.text_field :street_line1,placeholder: "Address1", autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :street_line2,placeholder: "Address2", autofocus: true, class: "form-control" %>
    </td>
  </tr>
  <tr>
    <td>
      <%= f.text_field :city,placeholder: "Enter city", autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= f.text_field :state,placeholder: "Enter state", autofocus: true, class: "form-control" %>
    </td>
    <td><%= f.text_field :country,placeholder: "Enter country", autofocus: true, class: "form-control" %></td>
  </tr>
  <tr>
    <td>
      <%= errors_for resource, :phone %>
      <%= f.text_field :phone,placeholder: "Enter contact no.", autofocus: true, class: "form-control" %>
    </td>
    <td>
      <%= errors_for resource, :pin %>
      <%= f.text_field :pin,placeholder: "Enter area pin code", autofocus: true, class: "form-control" %>
    </td>
  </tr>
</table>
    
  </div>
  
  <div class="actions">
    <%= f.submit "Sign up", class: "btn btn-primary" %>
  </div>
<% end %>
</div>
</div>

<%= render "devise/shared/links" %>
