<% publish_to @path do %>
    var id = "<%= @conversation.id %>";
    var chatbox = $("#chatbox_" + id + " .typing-notification");
    var sender_id = "<%= current_user.id %>";
    var reciever_id = $('meta[name=user-id]').attr("content");
    var text = "<%= @message_text %>";
    var key = "<%= @key_pressed %>";

    if(sender_id != reciever_id )
    {
    	if(((text.length - 1) == 0 ) && ( key == "8" || key == "46" )){
    		chatbox.text("");
    	}
    	else{
    		chatbox.text("<%= get_user_name(@id).fullname  %> is typing...");
    	}
    	chatbox.scrollTop(chatbox[0].scrollHeight);
    }
    
    
<% end %>