<div class="chatboxhead">
  <div class="chatboxtitle">
    <i class="fa fa-comments"></i>
 
    <h1><%= @reciever.fullname %> </h1>
  </div>
  <div class="chatboxoptions">
    <%= link_to  "#", class: "toggleChatBox", "data-cid" => @conversation.id do %>
      <%= image_tag("white-minus.png", :alt => "like", :class => "minimize-maximize-chat-box") %>
    <% end %>
    &nbsp;
    <%= link_to  "#", class: "closeChat", "data-cid" => @conversation.id do %>
      <%= image_tag("Close-white.svg.png", :alt => "like", :class => "like") %>
    <% end %>
  </div>
  <br clear="all"/>
</div>
<div class="chatboxcontent">
  <% if @messages.any? %>
      <%= render @messages %>
  <% end %>

</div>

  <div class="typing-notification"></div>
<div class="chatboxinput">
  <%= form_for([@conversation, @message], :remote => true, :html => {id: "conversation_form_#{@conversation.id}"}) do |f| %>
      <%= f.text_area :body, class: "chatboxtextarea", "data-cid" => @conversation.id %>
  <% end %>
</div>
 
<%= subscribe_to conversation_path(@conversation) %>