<% provide(:title,'All registered users') %>
<h1>Registered users</h1>
<div class="cart-main-section">
<table><tbody>
<% @users.each_with_index do |user,i| %>
<tr>
	<td><%= (i+1) %> . <%= link_to user.email,user_account_path(user) %> </td>

	<td><% if user.isAdmin? %>
	      Admin
	     <% end %>
	     </td>
<td> <%= link_to "Details", user_account_path(user) %></td> 
	</td> 
</tr>
<% end %>
</tbody></table>
</div>

