<% if(@orders.length > 0) %>
		<table>

<% @orders.each_with_index do |order,i| %>
		<tr class="<%= return_class_on_status(@order_ids[i]) %>", title="<%= @order_ids[i].status %>", id="parent_row_<%= @order_ids[i].id %>"><td>
			<div>ORDER-ID: ORD#<%= @order_ids[i].id %></div>
			<div>CREATED ON: <%= order[0].created_at.to_time.strftime('%B %e at %l:%M %p') %></div>
			<div> Rs. <%= order.to_a.sum { |e| e.total_price }%>
			<img src="/assets/down_arrow_circle.png", alt="down", class="up-down-img", id="arrow_<%= @order_ids[i].id %>" />
			</div>
		</td>
		</tr>
			<tr id="child_row_<%= @order_ids[i].id %>">			
				<td>
				<div style="display:none;", id="section_<%= @order_ids[i].id %>" >
					<table>
					<% order.each_with_index do |item,j| %>
						<tr>
						<td><%= (j+1) %></td>
							<td>
							<%= link_to image_tag("products/"+item.image,alt: "image"),product_path(item)%></td>			
							<td><%=link_to item[:name], product_path(item[:product_id]) %></td>
							<td>Rs.<%= item[:total_price] %></td>
							<td><%= item[:quantity]%></td>
						</tr>
					<% end %>
					</table>
					<div class="order-status-section">
						<table>
							<tr>
								<td>Expected on : <span><%= order[0].expected_devlivery_on.to_time.strftime('%B %e at %l:%M %p') %></span> </td>
								<td>Delivered on : <span><%= order[0].delivery_on %> </span> </td>
								<td>Status : <span><%= order[0].status %> </span></td>
							</tr>
							<tr>
								<td>Delivering address : </td>
								<td colspan="2"><%= order[0].delivery_place %></td>
							</tr>
							<% if order[0].status == "In progress..." %>
							<tr>
								<td colspan="3"> 
									<%= link_to "Delivered", "#", class: "btn btn-primary btn-order-status-delivered", id: "btn_delivered_#{ @order_ids[i].id }" %>
									<%= link_to "Unreachable", "#", class: "btn btn-primary btn-order-status-unreachable", id: "btn_unreachable_#{ @order_ids[i].id }" %>
								</td>
							</tr>
							<% end %>
						</table>
					</div>
				</div>
				</td>
			</tr>
	<% end %>		
	</table>				
		<% else %>
	 <div>
	 	<div class="empty-products">No order placed</div>
	 	
	 </div>
	<% end %>
