<% provide(:title, "maintain order status") %>
<h2>Manage orders</h2>
<div class="order-main-section">
	<div class="row">
		<%= form_for(admin_orders_status_path,method: 'get') do  %>
			<div class="col-md-5">
			<%= select_tag "filter", options_for_select( [["Pending","1"],["Delivered", "2"],["Cancelled order", "3"], ["Un-reachable orders","4"]], params[:filter]), class: 'order_status', :onchange => "this.form.submit()" %>	
			</div>
			<div class="col-md-2"></div>
			<div class="col-md-5 order-search ">
			<%= text_field_tag 'search', params[:search], placeholder: 'Search by order id...', class: "form-control" %>
			<%= submit_tag "Search", class: "btn btn-primary" %>
		</div>
	<% end %>
	</div>
<%= render 'bind_orders' %>