<h1>Your orders summary</h1>
<div class="order-main-section">

<% if(@orders.length > 0) %>
		<table>

<% @orders.each_with_index do |order,i| %>
		<tr class="<%= return_class_on_status(@order_ids[i]) %>", title="<%= @order_ids[i].status %>", id="parent_row_<%= @order_ids[i].id %>"><td>
			<div>ORDER-ID: ORD#<%= @order_ids[i].id %></div>
			<div>CREATED ON: <%= order[0].created_at.to_time.strftime('%B %e at %l:%M %p') %></div>
			<div> Rs. <%= order.to_a.sum { |e| e.total_price }%>
			<img src="/assets/down_arrow_circle.png", alt="down", class="up-down-img", id="arrow_<%= @order_ids[i].id %>" />
			</div>
		</td>
		</tr>
			<tr>
			
				<td>
				<div style="display:none;", id="section_<%= @order_ids[i].id %>" >
					<table>
					<% order.each_with_index do |item,j| %>
						<tr>
						<td><%= (j+1) %></td>
							<td>
							<%= link_to image_tag("products/"+item.image,alt: "image"),product_path(item)%></td>			
							<td><%=link_to item[:name], product_path(item[:product_id]) %></td>
							<td>Rs.<%= item[:total_price] %></td>
							<td><%= item[:quantity]%></td>
						</tr>
					<% end %>
					</table>
					<div class="order-status-section">
						<table>
							<tr>
								<td>Expected on : <span><%= order[0].expected_devlivery_on.to_time.strftime('%B %e at %l:%M %p') %></span> </td>
								<td>Delivered on : <span><%= order[0].delivery_on %> </span> </td>
								<td>Status : <span id="spn_show_order_status_<%=@order_ids[i].id %>"><%= order[0].status %> </span></td>
							</tr>
							<tr>
								<td>Delivered address : </td>
								<td colspan="2"><%= order[0].delivery_place %></td>
							</tr>
							<tr>
								<td colspan="3"> 

									<% if order[0].status == "In progress..." %>
										<%= link_to "Cancel", "#", class: "btn btn-primary btn-order-status-cancelled", id: "btn_cancelled_#{ @order_ids[i].id }" %>
									<% end %>
									<% if order[0].status == "Delivered" %>
										<%= link_to "Print invoice","#", id: "link_gen_order_invoice_#{ @order_ids[i].id }" , class: "btn btn-primary link-order-invoice-gen", style: "float:right;" %>
									<% end %>
								</td>
							</tr>
							
						</table>
					</div>
				</div>
				</td>
			</tr>
		
	<% end %>
		
	</table>
				
	<% else %>
	 <div>
	 	<div class="empty-products">No order placed</div>
	 	
	 </div>
	<% end %>
<div><%= link_to "Continue shopping",product_index_path, class: "btn btn-primary" %>
	 	<%= link_to "Go to cart",cart_index_path(:product_id => 0), class: "btn btn-primary" %>

	 	 </div>
	</div>
