<% provide(:title,"Forgot password") %>
<h2>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.email_field :email,placeholder: "Enter registered email", autofocus: true, class: "form-control" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password link", class: "btn btn-primary" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
