<!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Add additional images</h4>
        </div>
        <div class="modal-body" style="padding:40px 50px;">
          <% if @additional_product_images.present? %>
            <div class="div-additional-image">
              <ul>
              <% @additional_product_images.each do |image| %>
                <li>
                  <img src="<%= "/assets/products/additional_images/" + @product.id.to_s + "/" + image %>", alt="image", id="additional_img_<%= @product.id.to_s %>" />
                  <a href="#", id="del_<%= @product.id.to_s + "_" + image %>", class="del-additional-img">x</a>
                </li>
              <% end %>
              </ul>
            </div>
            <% end %>
          <%= form_for(:picture, url: pictures_path(:product_id => @product.id), method: "post", html: { id: "picture_form" }) do |f| %>
            <div class="form-group">
            <span id="spn_error_display", style="display:none; color:red;"></span>
              <%= f.file_field :image, id: "additional_image", class: "form-control" %>
            </div>
            
              <a href="#", class = "btn btn-success btn-block lnk-add-additional-images", id="lnk_additional_images_<%= @product.id.to_s %>">Add</a>
          <% end %>
        </div>
        <div class="modal-footer">
         
        </div>
      </div>
      
    </div>
  </div> 
</div>