
<div class="shipping-adress">
	<div>Shipping address <a href="#",value="Change",id="btn_change_address" class="btn btn-primary"></a> </div>
	<div>
		<textarea id="<%= address_<%= current_user.id %>" ></textarea>
	</div>
	<div>
		<a href="#",id="CheckOut", class="btn btn-primary"></a>
	</div>
</div>