

<% if @related_products && @related_products.length >0 %>
	<div id="slider_main_section">
			<% @related_products.each do |item| %>

			<div id="wrapper">
				<div id="slider">
					<%= link_to image_tag("products/"+item.image, title: item.name), product_path(item) %>
					<span><%= item.name[0..10]+"..." %></span>
					<span>Rs. <%=item.price %></span>
				</div>
			</div>
			<% end %>
		
	</div>
<%else %>
 No related products found
<%end %>