<div>
	<span>Comment on above product</span>
	<%= text_area(:comment, :text, size: "50x5",class: "form-control", placeholder: "Enter your comment") %>
		<%= link_to "Add comment", "#", id: "comment_#{@product.id}", class: "comment_link btn btn-primary" %>
	</div>
	<div class="comments-display-section">
	<% if @reviews.length>0 %>
	 <% @reviews.each do |review| %>
			<div class="comments_each">
				<div>
					<span>On <%=review.created_at.to_formatted_s(:long_ordinal) %> </span> by <%= link_to review.fullname,user_account_path(review.user_id) %>
				</div>
				<div class="comments-text">
					<%= review.comment %>
				</div>
				
			</div>
	 <% end %>
	<% else %>
		You will be first to comment
	<% end %>
	</div>