<div id="address_overlay", style="display:none;"></div>

<div id="address_detail_section_<%= user_signed_in? ? current_user.id : "0" %>", class="address-section" style="display:none;">
<div class="address-header"><div>Shipping Addresses </div><a href="#", class="btn btn-primary" >Add new</a></div>
	<% if (user_signed_in?) %>
		<div class="address-each-section">
			<% for address in shipping_addresses %>
				<div>
					<%= radio_button_tag 'shipping_address', address.id, address.isSelected %>
					<span><%= address.address_to_ship %></span>
					<%= link_to image_tag("delete-icon.png",alt: "image",title: "remove", class: "remove-address", id: "remove_#{address.id}"),"#" %> 
					
				</div>
			<% end %>
		</div>
	<% end %>
	<div >
	<textarea id="txt_area_new_address", placeholder="Add new address", rows="6" style="display:none;"></textarea> </div>
	<div class="div-check-out">
		<a href="#", class="btn btn-primary", id="link_product_check_out" > Check out</a>
		<a href="#", id="btn_close" >Close</a>
	</div>
</div>