<% provide(:title,@product.name) %>
<h1>Update product</h1><div class="row">
	<div class="col-md-6 col-md-offset-3">
			<%= form_for(@product, url: product_path(@product)) do |f| %>
			<div class="field">
				<%= f.label :product_type_id, "Category :" %>			
				<%= errors_for @product, :product_type_id %>
				<%= f.collection_select :product_type_id, @ProductsType, :id, :name, include_blank: "Select category", class: "form-control" %>
			</div>
			<div class="field">
				<%= f.label :name, "Name :" %>
				<%= errors_for @product, :name %>
				<%= f.text_field :name, class: "form-control" %>
			</div>
			<div class="field">
				<%= f.label :price, "Price :" %>			
				<%= errors_for @product, :price %>
				<%= f.text_field :price, class: "form-control" %>
			</div>
			<div class="field">			
				<%= f.label :quantity, "Quantity :" %>
				<%= errors_for @product, :quantity %>
				<%= f.text_field :quantity, class: "form-control",placeholder: "Enter quantity", value: @product.quantity %>
			</div>
			<div class="field">	
				<%= image_tag("products/"+@product[:image].to_s,alt: "image",title: @product[:description]) %>
				
				<%= f.file_field :image%>
				
			</div>
			<div class="field">
			<%= @selected_cities =  get_selected_cities(@product.id) %>
				<span>( Select cities or it will assume to all )</span> 
				<select id:"available_cities" name="selected_cities[]" multiple="multiple", class="form-control">
					<% $cities.each do |c| %>
    				 <option value="<%= c.id %>", <%= @selected_cities.include?(c.name) ? 
						"selected=selected" : '' %> ><%= c.name %></option>
					<% end %>
				</select>
			</div>
			<div class="field">
				<%= f.label :description, "Description :" %>
				<%= errors_for @product, :description %>
				<%= f.text_area :description, size: "50*10", class: "ckeditor" ,:ckeditor => {:language => 'uk'}%>
			</div>
			<div class="field remember-me">
				<%= f.label :isVisible_to_user, class: "checkbox inline checkbox-label" do %>
				<%= f.check_box :isVisible_to_user %>
				<span>Visible to user ?</span>
			</div>
		<% end %>
			<% if @product.present? %>
				<%= f.submit "Update", class: "btn btn-primary" %>
			<% else%>
			<%= f.submit "Add", class: "btn btn-primary" %>
		<% end %>

<% end%>
	</div>
</div>