<% provide(:title,"home page") %>
<%= form_for(product_index_path,method: 'get') do  %>
	<%= select_tag "filter", 
	options_for_select(@ProductsType.collect{|pt| [pt.name,pt.id]}, params[:filter]),:include_blank => 'Select category', class: 'my_filter',:onchange => "this.form.submit()" %>
	<% if( user_signed_in? && current_user.isAdmin? ) %>
		<%= link_to "Add product", new_product_path, 'data-no-turbolink' => true, class: "btn btn-primary add-mew-product" %>
	<% end %>
	
<% end %>
<ul class="users">
<% if (@products.select{|product| product.isVisible_to_user==true}.length >0 ) %>
	<% @products.each do |product| %>
	<%= form_for(:cart,url: product_cart_items_path(product)) do |f| %>
		<% if (product[:isVisible_to_user] || (user_signed_in? && current_user.isAdmin?)) %>
			<li>

				<a class="vlightbox2"><%=  image_tag("products/"+product.image,alt: "image",id: "image_#{product.id}",class: "img-zoom") %>
				<% id = "vlb_zoom_#{product.id}" -%>
				<div id="<%= id -%>", class="vlb_zoom" style="position: absolute; display: none;"></div></a>
				<div><%= link_to product.name[0..21]+"...", product, title: product.name %></div>
				<div>Rs. <%= product.price %></div>
				<% if product_avalabiliity(product.id) > 0 %>
					<div class="product-quantity">QTY: <%= f.text_field :quantity, value: 1, id: "product_quantity_#{product.id}", class: "txt-product-quantity" %>
				
					<span id="product_in_stoke_<%= product.id %>", style="display:none;"><%= product_avalabiliity(product.id).to_s %> </span></div>
					<div class="add-cart-link"><%= f.submit 'Add to cart',class: "btn btn-primary" %></div>
					<div class="add-cart-link"><%= link_to 'Place order',"#",class: "btn btn-primary link-place-order", id: "placeorder_#{product.id}" %></div>
				<% else %>
					<div style="padding-bottom:16px;">
					<span id="product_in_stoke_<%= product.id %>", style="color:red;">Out of stoke </span></div>
					<div class="add-cart-link"><%= f.submit 'Add to cart',class: "btn btn-primary" , disabled: "disabled" %></div>
					<div class="add-cart-link"><%= link_to 'Place order',"#",class: "btn btn-primary link-place-order", id: "placeorder_#{product.id}" , disabled: "disabled" %></div>
				<% end %>
				</li>
		<% end %>
	<% end %>
	<% end %>
<% else %>
	<div class="empty-products">OOPS! Products not found </div>
<%end%>
</ul>
<div class="overlay" style="display:none;"></div>
	<div class="show-category-panel order-placed" style="display:none;">
		<div><span>Your order has been placed</span></div>
		<div><%= link_to "OK",product_order_index_path(:product_id=>0)%>
		</div>
	</div>
<div class="image-large-div show-category-panel", style="display:none;">
<%= image_tag("close.png",alt: "close",title: "close",id: "close_btn") %>
	
	<div>
		<img class="image-large", alt="image">
		<div class="div-additional-image image-shw-in-vertical">
      
		</div>
	</div>
	
</div>
<%= will_paginate @products %>
<%= render "layouts/shipping_address" %>