<% provide(:title,"Add new product") %>
<h1>Add product</h1>
<div class="row">
	<div class="col-md-6 col-md-offset-3">
			<%= form_for(@product, url: product_index_path) do |f| %>
			<div class="field">
				<%= errors_for @product, :product_type_id %>
				<%= f.collection_select :product_type_id, @ProductsType, :id, :name, include_blank: "Select category", class: "form-control" %>
				<%= link_to "Add new category","#", id: "new-category" %>
			</div>
			<div class="field">
				<%= errors_for @product, :name %>
				<%= f.text_field :name, class: "form-control",placeholder: "Enter product name" %>
			</div>
			<div class="field">
				<%= errors_for @product, :price %>
				<%= f.text_field :price, class: "form-control",placeholder: "Enter price" %>
			</div>
			<div class="field">
				<%= errors_for @product, :quantity %>
				<%= f.text_field :quantity, class: "form-control",placeholder: "Enter quantity", value: 1 %>
			</div>

			<div class="field">
				<%= errors_for @product, :image %>
				<%= f.file_field :image, class: "form-control" %>
			</div>
			<div class="field">
				<span>( Select cities or it will assume to all )</span> 
				<select id:"available_cities" name="selected_cities[]" multiple="multiple", class="form-control">
					<% $cities.each do |c| %>
    				 <option value="<%= c.id %>" ><%= c.name %></option>
					<% end %>
				</select>
			</div>
			<div class="rich_text_editor">
				<%= errors_for @product, :description %>
				<%= f.text_area :description, size: "50*20", class: 'ckeditor', placeholder: "Give some brief description about the product" %>
			</div>

			<div class="field remember-me">
			<%= f.label :isVisible_to_user, class: "checkbox inline checkbox-label" do %>
			<%= f.check_box :isVisible_to_user %>
			<span>Visible to user ?</span>
			</div>
		<% end %>
			
			<%= f.submit "Add", class: "btn btn-primary" %>
	

<% end%>
	</div>
	<div class="overlay" style="display:none;"></div>
	<div class="show-category-panel" style="display:none;">
		<div>Add new category <%= image_tag("close.png",alt: "close",title: "close",id: "close_btn") %></div>
		<div class="category-section">
			<%= text_field( :txt,:category, :placeholder=> "Category name",:class=> "form-control") %>
			<%= link_to "Add","#", id: "add_category",class: "btn btn-primary" %>
		</div>
	</div>
</div>