<% provide(:title,@product.name) %>
<%= form_for(:cart,url:product_cart_items_path(@product),method: "post", html: { id: "product_form" }) do |f| %>
	<h3> <%= f.label @product.name %> </h3>
	<hr/>
	<div>
		<div class="admin-usable-link">
			<% if (user_signed_in? && current_user.isAdmin?) %>
				<%= link_to "Edit product", edit_product_path(@product),'data-no-turbolink' => true %>
			
				<%= link_to "Add related products", "#", class: "related-products-popup", id: "products_type_#{@product.product_type_id}_#{@product.id}" %>
				<a href="#", id="myBtn">Add additional images</a>
				
				<% end %>
		</div>
		<div class="product-details">
		
			<div class="main-images-with-additiinal">
				<div>
					<%= image_tag("products/"+@product.image.to_s,alt: "image",title: @product.name, id: "product_main_image") %>
				</div>
				<% if @additional_product_images.present? %>

				<div class="div-additional-image">
	              <ul>

	              <% @additional_product_images.each do |image| %>

	                <li>
	                  <img src="<%= "/assets/products/additional_images/" + @product.id.to_s + "/" + image %>", alt="image", class="img-show-in-large" />	                  
	                </li>

	              <% end %>

	              </ul>

            	</div>
            	
            	<% end %>
			</div>
			<div class="product-add-cart">
				<div >Price : Rs. <span><%= @product.price.to_s %> </span></div>
				<% if product_avalabiliity(@product.id) > 0 %>
					<div class="product-quantity">QTY: <%= f.text_field :quantity, value: 1, id: "product_quantity_#{@product.id}", class: "txt-product-quantity" %>

					<div >In stoke: <span id="product_in_stoke_<%= @product.id %>"><%= product_avalabiliity(@product.id).to_s %> </span></div>	
					</div>
					<div class="div-check-avail">
						<input type="text", value="<%= user_signed_in? ? current_user.city : "" %>", id="txt_product_avail", placeholder="Check by city", class="form-control"/> 

						<input type="button", value="Check", class="btn-product-availability", id="btn_chk_avail_<%= @product.id %>"/> 

						<% if user_signed_in? %>
							<% if get_selected_cities(@product.id).include?(current_user.city) %>
								<% @visibility = "block" 
								 @not_visible ="none" %>
							<% else %>
								<% @visibility = "none" 
								@not_visible ="block" %>
							<% end %>
						<% else %>
							<% @not_visible ="none" 
							 @visibility = "none" %>
						<% end %>

							<span id="span_avail", style="display:<%= @visibility %>;color:green;float: left;font-size: 12px;">Product is available for above city</span>
							
							<span id="span_not_avail", style="color:red;float: left;font-size: 12px;display:<%= @not_visible %>;">Product is not available for above city</span>
						
					</div>
					<div class="add-cart-link">
					<%= f.submit 'Add to cart',class: "btn btn-primary" %></div>
					<div class="add-cart-link"><%= link_to 'Place order',"#",class: "btn btn-primary link-place-order", id: "placeorder_#{@product.id}" %></div>
				<% else %>
					<div class="product-quantity">
						QTY: <%= f.text_field :quantity, value: 0, id: "product_quantity_#{@product.id}", class: "txt-product-quantity", disabled: "disabled" %>
						<div >
							<span id="product_in_stoke_<%= @product.id %>", style="color:red;">Out of stoke </span>
						</div>	
					</div>
					<div class="add-cart-link">
						<%= f.submit 'Add to cart',class: "btn btn-primary" , disabled: "disabled"%></div>
					<div class="add-cart-link">
						<%= link_to 'Place order',"#",class: "btn btn-primary link-place-order", id: "placeorder_#{@product.id}", disabled: "disabled" %></div>
				<% end %>

				<div class="like-unlike-section">
					<div>
						<% if user_signed_in? && isLiked(@product.id) %>
							<img src="/assets/right.png", value="Like", class="liked-btn"  />
						<% elsif user_signed_in? && isUnliked(@product.id) %>
							<img src="/assets/like.png", id="like_<%=@product.id %>", value="Like", class="liked-btn",  />
						<% else %>
							<img src="/assets/like.png", id="like_<%=@product.id %>", value="Like", class="like-btn",  />
						<% end %>
							<span id
							="like_span"><%= @product.likes %> likes</span>
					</div>
					<div>
					<% if user_signed_in? && isUnliked(@product.id) %>
						<img src="/assets/right.png", id="unliked_<%=@product.id %>", value="Unlike", class="unliked-btn"  />
					<% elsif user_signed_in? && isLiked(@product.id) %>
						<img src="/assets/dislike.png", id="unlike_<%=@product.id %>", value="Unlike", class="unliked-btn" />
					<% else %>
						<img src="/assets/dislike.png", id="unlike_<%=@product.id %>", value="Unlike", class="unlike-btn" />
					<% end %>
						<span id="unlike_span"><%=@product.unlikes %> unlikes</span>
					</div>
				</div>
			</div>
		</div>
		<div class="related-products-main-div">
		<div class="header">Recommended products</div>

			<div class="related-products">
				<%= render 'related' %>
			</div>
		</div>
		
		<div class="product-description">
			<div class="description_header">Description :</div>
			<div class="description_details"><%= @product[:description].html_safe %></div>
		</div>
		
	</div>
<% end %>

<div class="comment-section">
	<%= render 'review' %>
</div>
<div class="overlay" style="display:none;"></div>
	<div class="show-category-panel order-placed" style="display:none;">
		<div><span>Your order has been placed</span></div>
		<div><%= link_to "OK",product_order_index_path(:product_id=>0)%>
		</div>
	</div>
	<div id="show-all-product-type", style="display:none;">
		<div class="related-product-header">Choose recommended items for <%= @product.name %></div>
		<div class="related-product-display-section"></div>
		<div><a href="#", class="btn btn-primary link-add-related-product", id="btn_relate_product_<%= @product.id %>">Done</a><a href="#", class="btn-secondary">Close</a></div>
	</div>
<%= render "layouts/shipping_address" %>
<%= render "additional_images" %>