// Place all the styles related to the Cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.back-to-shopping
{
	width: 100%;
  float: left;
  padding: 20px 0px;
}
.address-section
{
	position: absolute;
  z-index: 99999;
  top: 20%;
  margin-left: auto;
  width: 50%;
  left: 25%;
  background-color: #fff;
  
  div
  {
  	padding: 5px 10px;
  	width:100%;
  	float:left;
  }

  .div-check-out
  {
  text-align:center;
  }

  .address-header
  {
	  padding: 3px;
	  background-color: #A58C8C;
	  color: #fff;
	  font-size: 16px;
	  font-weight: bold;
	  float: left;
	  width: 100%;
	  div
	  {
	  	float:left;
	  	width:50%;
	  }
	  a{
	  	float:right;
	  }
  }
}
.address-each-section
{
div{
	padding-top: 10px;
  padding-bottom: 10px;
  background-color: #FDFDFD;
  border-style: solid;
  border-color: #fff;
  padding: 10px;
  input[type=radio]
  {
  width:auto;
  }
 }
 img{
 width: 3%;
  height: auto;
  float: right;
 }
}
.cart-main-section
{
	table
	{
		thead
		{
			background-color: #6F9577;
			padding: 5px;
			height: 29px;
			color: #fff;
			font-size: 17px;
			th
			{
				border-width: 0px;
				  text-align: left;
				  text-align: c;
				  padding: 0px 5px;
				  border-left-width: 1px;
				  border-style: solid;
			}
		}

		tbody
		{
			tr
			{
			border-style: dashed;
		  border-width: 0px;
		  border-bottom-width: 1px;
				td
				{
				min-height:50px;
				padding: 10px 3px;
					input[type=text]
					{
						margin: 0;
						width: 15%;
						text-align: center;
					}
					img
					{
						width:50px;
						height:50px;
					}
				}
			}
		}
	}
}