@import "bootstrap-sprockets";
@import "bootstrap";

/* print */
@media print{
  table{
  width:100%;
  tr{
    border-style:solid;
  }
  }
}

#payment_modal
{
 .lnk-add-new-addr{
  float: right;
  margin-right: 10%;  
  }

  .panel-heading{
    cursor:pointer;
  }
  .panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  color: inherit;
  font-weight: bold;
}
#toogle_card_details{
  div{
    p:nth-child(odd){
      width: 45%;
      margin-left: 2.5%;
      float: left;
    }
    p:nth-child(even){
      width: 45%;
      margin-left: 5%;
      float: left;
    }
    p:last-child{
    select{
        width: 45%;
        float: left;
        height: 33px;
        border-radius: 3px;
        background-color: #fff;
        padding-left: 2%;
     }
     select:first-child{
     
        margin-right: 10%;
     }
    }
  }
}
}

/* chat */

#users-list-for-chat{
  width: 12%;
  /* float: right; */
  position: fixed;
  /* top: 130px; */
  right: 0;
  bottom: 77px;
  /* min-height: 375px; */
  background-color: #F7F7FF;
  padding: 5px;

  ul{
    margin: 0;
    padding: 0;
    list-style: none;

    li{
      border-style: solid;
      border-width: 1px;
      border-color: #CBCBCB;
      border-left: none;
      border-right: navajowhite;
      border-top: none;

      
    }
    
  }
  .txt-chat-search-user{
        margin-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;
        border: none;
      }
  .chat-header{
      background-color: #D2D2D2;
      font-weight: bold;
      padding: 3px;
  }
}

/* universla */
@media (min-width: 1200px)
{
.container {
  width: 960px;
}
}

@media (min-width: 992px)
{
.col-md-offset-3 {
  margin-left: 15%;
}
}

@media (min-width: 992px)
{
.col-md-6 {
  width: 70%;
}
}

body
{
  background-color: #EDECEC;
}

.contain-section {
  min-height: 532px;
  background-color: #fff;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.newHeader {
    background: transparent url("header.png") repeat-x scroll left top;
    border-bottom: 1px solid #5E7D99;
    height: 50px;
}

.error-empty
{
  border-color:#a94442;
  color:#a94442;
}

.contain-section
{
  min-height:532px;
}
.empty-products
{
  text-align: center;
background-color: #D6FCDF;
padding: 11px;
font-size: 18px;
color: #198932;
border-style: solid;
border-width: 2px;
border-color: #11C62D;
}

.navbar-inverse .navbar-nav > li > a
{
  color: #515151;
  border-right: 0.1px solid #A2BBCE;
}
.side-menu-div
{
    width: 11%;
  float: left;
  position: fixed;
  top:130px;
  ul
  {
      margin-left: 0px;
    padding-left: 12px;
    list-style: outside none none;
    li
    {
          padding: 5px 0px;
      text-decoration: none;
      border-style: dashed;
      border-width: 0;
      border-bottom-width: 1px;
      a
      {
        text-decoration:none;
      }
    }
  }
}
.overlay,.overlay-role,#address_overlay
{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.65);
  z-index: 9999;
}
.role-change-popup
{
  position: absolute;
  z-index: 99999;
  top: 20%;
  margin-left: auto;
  width: 50%;
  left: 25%;
  background-color: #fff;
}
.cart-counter
{
  position: absolute;
  top: 19%;
  color: #fff;
  background-color: red;
  float: right;
  margin-left: 80%;
  padding: 0px 3px;
  border-radius: 3px;
  font-size: 11px;
}
.user-image
{
  padding-top: 10px!important;
  padding-bottom: 10px!important;
  img
  {
    width: 30px;
  height: auto;
  border-radius: 6px;
  }
}
.remove-product
{
  width:18px!important;
  height:auto!important;
}
.product-search 
{
  width:50%;
  float:left;
  padding: 7px 0;
    .form-control
    {
      width:50%;
      float:left;
      margin:0;
      width: 79%;
    }
    .btn-primary
    {
    width:auto;
    }
}
table
{
  width:100%;
  float:left;  
}

$light-gray: #777;

.checkbox-label
{
  margin: 4px 0 0;
padding-left: 10px;
}
@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


$gray-medium-light: #eaeaea;
body
{
	padding-top: 60px;
}
section
{
	overflow: auto;
}
textarea{
	resize: vertical;
}

.center{
	text-align: center;
 h1{
	margin-bottom: 10px;
}
}

/* typography */

h1,h2,h3,h4,h5,h6{
	line-height: 1;
}

h1 {
  font-size: 2em;
letter-spacing: 0px;
margin-bottom: 30px;
color: #666;
text-align: center;
}

h2,h3 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
  color: $light-gray;
  text-align: center;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;

  &:hover {
  color: #fff;
  text-decoration: none;
}
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $light-gray;
  width:100%;
  float:left;
 a {
  color: #555;
  	 &:hover {
  		color: #222;
	}
}

small {
  float: left;
}

ul {
  float: right;
  list-style: none;

	 li {
 		 float: left;
  		margin-left: 15px;
		}
	}
}


.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}
.gravatar_edit
{
  margin-top: 10px;
}
/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
  width: auto;
  float: left;
}
.remember-me
{
  margin-bottom: 10px;
  margin-top:20px;
  input
  {
    width:auto;
  }
  span
  {
    margin-left: 0;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Users index */

.users
{
  lmargin: 0px;
list-style: outside none none;
width: 100%;
float: left;
padding: 0;
  li{
    overflow: auto;
    padding: 10px 0;
    border: 1px solid $gray-lighter;
    width: 18%;
float: left;
text-align: center;
border-width: 1px;
margin: 5px 9px;
min-height: 153px;
  }
}
.pagination 
{
  width:100%;
}
.checkbox-inline
{
  width:auto;
  float:left;
}
.error-explanation
{
  color: #F00;
}
.navbar-right {
  float: right !important;
  width: auto;
}
.new_product
{
  float: left;
  width: 50%;
}