// Place all the styles related to the ProductAvailableAreas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.new_product_available_area{
	input[type=text]
	{
		width: 50%;
		  float: left;
		  border-bottom-right-radius: 0px;
		  border-top-right-radius: 0px;
	}
	input[type=submit]
	{
		width: 10%;
		  border-bottom-left-radius: 0px;
		  border-top-left-radius: 0px;
	}
}
.location-main-div
{
	width:100%;
	float:left;
	ul
	{
		padding:0;
		list-style :none;

		li{
			padding: 5px 5px;
			  background-color: #F2F5F5;
			  border-style: solid;
			  border-color: #fff;
		}
	}
}
.remove-location
{
	width: 17px;
  height: auto;
  float:right;
  margin-right:5%;
}