// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.order-status-section
{
	width: 100%;
  float: left;
  background-color: #E7F9F7;
  padding-left: 10px;
  color: #666;

  span{
  	color: #2C9635;
  }
}
.order_status
{
	width: 100%;
  font-size: 18px;
  padding: 5px;
  background-color: #fff;
  border-style: double;
  margin-top: 20px;
  float:left;
}
.order-search 
{
  float:left;
  padding: 18px 0;
    .form-control
    {
      width:100%;
      float:left;
      margin:0;
      width: 79%;
    }
    .btn-primary
    {
    width:auto;
    }
}
.order-main-section
{
	.up-down-img
	{
		width: 17px;
	height: auto;
	margin-left: 10px;
	cursor: pointer;
	}

	table
	{
	.order-details-processing
	{
		background-color: #B3ADAD;
	  color: #fff;
	  font-weight: bold;
	  font-size: 14px;
	  border-style: solid;
	  border-width: 2px;
	  border-color: #939393;
		div
		{
		width: 33%;
		float: left;
		}
		div:last-child
		{
		text-align:right;
		}
	}
	.order-details-delivered
	{
		background-color: #7CB678;
		  color: #fff;
		  font-weight: bold;
		  font-size: 14px;
		  border-style: solid;
		  border-width: 2px;
		  border-color: #239D1B;
		div
		{
		width: 33%;
		float: left;
		}
		div:last-child
		{
		text-align:right;
		}
	}
	.order-details-cancelled
	{
		background-color: #B27A7A;
		  color: #fff;
		  font-weight: bold;
		  font-size: 14px;
		  border-style: solid;
		  border-width: 2px;
		  border-color: #CA6161;
		div
		{
		width: 33%;
		float: left;
		}
		div:last-child
		{
		text-align:right;
		}
	}
	.order-details-unreachable
	{
		background-color: #C1D078;
		  color: #fff;
		  font-weight: bold;
		  font-size: 14px;
		  border-style: solid;
		  border-width: 2px;
		  border-color: #BAB84C;
		div
		{
		width: 33%;
		float: left;
		}
		div:last-child
		{
		text-align:right;
		}
	}
		thead
		{
			background-color: #6F9577;
			padding: 5px;
			height: 29px;
			color: #fff;
			font-size: 17px;
			th
			{
				border-width: 0px;
				  text-align: left;
				  text-align: c;
				  padding: 0px 5px;
				  border-left-width: 1px;
				  border-style: solid;
			}
		}

		tbody
		{
			tr
			{
			
				td
				{
				min-height:50px;
				padding: 10px 3px;
					input[type=text]
					{
						margin: 0;
						width: 15%;
						text-align: center;
					}
					img
					{
						width:50px;
						height:50px;
					}
				}
			}
		}
	}
}