// Place all the styles related to the AdminPanel controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.div-additional-image{
	ul{
	 list-style: none;
	  width: 100%;
	  float: left;

	 li{
	 	  width: 78px;
		  float: left;
		  text-align: center;
		  img{
		 		 width: 78px;
  				 height: 74px;
		  }
	 }
	}	
}
.image-shw-in-vertical{
	float:left;
	width:15%;
		img{
		padding:5px;
		cursor:pointer;
		}
}
/* slider */

#slider_main_section div.scrollableArea *
{
	position: relative;
	display: block;
	float: left;
	margin: 0;
	padding: 0;
	/* If you don't want the images in the scroller to be selectable, try the following
		block of code. It's just a nice feature that prevent the images from
		accidentally becoming selected/inverted when the user interacts with the scroller. */
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}
.admin-usable-link
{
margin-bottom:20px;
	a{
	background-color: #BCD8C1;
  padding: 5px;
  color: green;
  margin-left: 20px;
	}
}

#show-all-product-type{
	z-index: 9999;
  position: absolute;
  background-color: #fff;
  width: 70%;
  top: 49px;
  padding-bottom: 30px;
  min-height: 500px;
  .related-product-header{
		  background-color: #AFD8BF;
		  padding: 5px;
		  color: #055936;
		  font-size: 16px;
		  font-weight: bold;
  }
  .related-product-display-section{
	  width: 100%;
	  float: left;
	  padding: 0 6px;
	  min-height:400px;
  }
  div:last-child{
  	text-align:center;
  	width:100%;
  	float:left;
  	a{
  		width:150px;
  	}
  }
}
.add-mew-product
{
	margin-top:20px;
	float:right;
}
.related-products-main-div{
	width:100%;
	float:left;
	.header{
		background-color: #ECEFEE;
		  padding: 5px;
		  margin: 20px;
	}
}

.related-products
{
	width: 87%;
  /* float: left; */
  margin-left: auto;
  margin-right: auto;

	#slider_main_section
	{
		overflow: hidden;
	  width: 100%;
	  height: 114px;
	}
	#wrapper{
   	  width: 97px;
  border: 2px solid #000000;
  position: relative;
  overflow: hidden;
  float: left;
  min-height: 114px;
  text-align: center;
  border-left-width: 6px;
  border-right-width: 6px;
	  span
	  {
	  	width: 100%;
	  float: left;
	  padding-left: 5px;
	  font-size:13px;
	  }
	  img{
	  vertical-align: middle;
  width: 84px;
  height: 72px;

	  }
	}
	#slider {
	    position:relative;
	}
	#slider div {
	    width:300px; 
	    height:100%; 
	    float:left; 
	}

}

/* end */

.vlightbox2 div {
  width: 129px;
  height: 111px;
  background: url(zoom-in.png) 50% 54% no-repeat #000;
  opacity: .5;
  color: #FFF;
  text-align: center;
  /* margin: 0px; */
  margin-top: -111px;
  margin-left: 17px;
  cursor:pointer;
}
.product-quantity
{
	div
	{
		padding-left: 0!important;
  		color: #FC6A6A;
  }
}

.unlike-btn
{
	background: url(dislike.png) 50% 54% no-repeat #000;
}
.enable-like
{
	background-color: #98AFED;
  color: #fff;
}
.image-large
{
	width:85%!important;
	height:auto !important;
}

.like-unlike-section
{
	div
	{
		float: left!important;
 		 width: 50%!important;
 		 padding: 0!important;

 		 img
 		 {
 		 	width: 17%;
  float: left;
  height: auto;
  cursor:pointer;
 		 }
 		 span
 		 {
			 padding: 0px;
			 float: left;
 		 }
	}
}

.image-large-div
{
	z-index: 99999;
	position: absolute;
	width: 72%!important;
	left:auto!important;
	text-align: center;
	background-color: #fff;
	padding: 13px;
}
.vlb_zoom
{
	cursor:pointer;
}
.new_product
{
	float:none;
	width:100%;
	.field
	{
	width:70%;
	float:left;
	}
	select
	{
		background-color: #fff;
  		padding: 5px;
  		width:70%;
	}
	.rich_text_editor
	{
		float:left;
	}
}
.order-placed
{
	div:nth-child(even)
	{

		text-align: center;
    	padding: 5px;
	}
	div:nth-child(odd)
	{

		padding: 9px;
		  text-align: center;
	}
	a
	{
		text-decoration: none;
		  background-color: #000;
		  color: #fff;
		  font-size: 11px;
		  font-weight: bold;
		  padding: 5px 9px;
		  border-radius: 5px;
	}
}
.show-category-panel
{
position: absolute;
  z-index: 99999;
  top: 20%;
  margin-left: auto;
  width: 50%;
  left: 25%;
  background-color: #fff;
	.category-section
	{
		
	  padding: 20px 20px 20px 20px;

	  }
	div:nth-child(odd)
	{
	  padding: 5px;
  		background-color: #C0F0BD;
	}
	
}
#close_btn{
		width: 20px;
	  height: auto;
	  float: right;
	  margin-top: -22px;
	  margin-right: -20px;
	  cursor: pointer;
	}
.product-quantity
{
width: 100%;
float: left;
input
{
	width:17%;
	text-align:center;
}

}
.product-description
{
	width:100%;
	float:left;
	margin-top: 35px;
	
	.description_header
	{
		padding: 2px 3px;
		  background-color: #E8E7E7;
		  padding-left: 10px;
		  font-size: 22px;
	}
	.description_details
	{
		padding:10px 3px;
	}
}
.comments-display-section
{
	  padding: 22px 5px;
	  .comments_each
	  	{
	  	 padding: 5px;
		  background-color: #EFEFEF;
		  border-radius: 11px;
		  margin: 5px 0px;
	  	}
}
.comment-section
{
	width: 100%;
  float: left;
  margin: 20px 5px;
  div
  {
  	font-size:10px;
  	span
  	{
  		font-size: 10px;
  color: #949494;
  padding: 9px 0px;
  	}
  	a
  	{
  	font-size:10px;
  	}
  }
  .comments-text
  {
  	min-height: 50px;
  vertical-align: baseline;
  padding: 10px;
  background-color: #FCFCFC;
  font-size: 12px;
  }
}
.my_filter
{
	width: 40%;
  font-size: 18px;
  padding: 5px;
  background-color: #fff;
  border-style: double;
  margin-top: 20px;
  float:left;
}
.product-details
{
	width:100%;
	float:left;
		div
		{
			width: 50%;
			float:left;
			padding: 5px 10px;
		}
		.product-add-cart
		{
			div{
				width:100%;
				float:left;
				}
			.div-check-avail
			{
				input[type=text]
				{
					width: auto;
					float: left;
					border-bottom-right-radius: 0px;
					border-top-right-radius: 0px;
				}
				input[type=button]
				{
					width: auto;
					float: left;
					padding: 6px;
					background-color: rgb(47, 51, 49);
					color: rgb(255, 255, 255);
					font-weight: bold;
				}
			}
		}
	img
	{
		width: 90%;
	  height: 286px;
	  border-style: solid;
	  border-width: 1px;
	  border-color: #EAE7E7;
	}
	.main-images-with-additiinal div{
		width:100%;
		float:left;
		text-align:center;

	}
	.div-additional-image{
	cursor:pointer;
	}
}
img
{
	vertical-align: middle;
	width: 129px;
	height: 111px;
}


.add-cart-link
{
	margin-top:3px;
		a
		{
			text-decoration:none;
			background-color: rgb(58, 201, 120);
			color: rgb(255, 255, 255);
			font-size: 15px;
			padding: 3px;
			border-radius: 4px;
			margin-top: 3px;
			font-weight: bold;
			width:100%;
			border-color: #38C855;
		}
		a:hover
		{
		background-color: #16A353;
		}
}