﻿/* You can alter this CSS in order to give Smooth Div Scroll your own look'n'feel */

/* Invisible left hotspot */
div.scrollingHotSpotLeft
{
	/* The hotspots have a minimum width of 100 pixels and if there is room the will grow
    and occupy 15% of the scrollable area (30% combined). Adjust it to your own taste. */
	width: 4%;
  height: 114px;
  background-image: url(arrow_left.gif);
  background-repeat: no-repeat;
  /* background-position: center center; */
  position: absolute;
  z-index: 200;
  left: 190px;
	/*  The first url is for Firefox and other browsers, the second is for Internet Explorer */
	cursor: url(cursor_arrow_left.png), url(cursor_arrow_left.cur),w-resize;
}

/* Invisible right hotspot */
div.scrollingHotSpotRight
{
	width: 4%;
  height: 114px;
  background-image: url(arrow_right.gif);
  background-repeat: no-repeat;
  /* background-position: center center; */
  position: absolute;
  z-index: 200;
  right: 190px;
	cursor: url(cursor_arrow_right.png), url(cursor_arrow_right.cur),e-resize;
}


/* The scroll wrapper is always the same width and height as the containing element (div).
   Overflow is hidden because you don't want to show all of the scrollable area.
*/
div.scrollWrapper
{
	position: relative;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

div.scrollableArea
{
	position: relative;
	width: auto;
	height: 100%;
}