// Place all the styles related to the UserAccounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-details-section
{
	padding-top: 50px;
    padding-bottom: 50px;
	.user-details-image-section
	{
		width:50%;
		float:left
	}
	h3
	{
		margin-top: 0;
  		text-align: left;
	}
	img
	{
		width: 80%;
	  	height: 300px;
	}
	.row
	{
		width: 50%;
	  	float: left;
	  	padding-top: 50px;
	  	.field
	  	{
	  		padding: 3px 0px;
  			font-size: 18px;
	  	}
	}
	.edit-link-section
	{
		width: 100%;
	  	float: left;
	  	padding: 9px 0px;
	}
}