<% provide(:title, "List of locations") %>
<div>
	<h1>List of locations</h1>
	<div>
		<div>
			<%= form_for(@location, remote: true) do |f| %>
				<%= f.text_field :name, placeholder: "location name", class: "form-control" %>
				<%= f.submit "Add", class: "btn btn-primary" %>
			<% end %>
		</div>
		<div class="location-main-div">
			<ul id="locations">
				<%= render @locations %>
			</ul>
		</div>
	</div>
</div>