<footer class="footer">
	<small>
		Developed by sukanta
	</small>
	<nav>
		<ul>
			<li>
				<%= link_to "About", about_path %>
			</li>
			<li>
				<%= link_to "Contacts", contact_path %>
			</li>
			<li>
				<%= link_to "Help", help_path %>
				</li>
		</ul>
	</nav>
</footer>