

<header class="navbar navbar-fixed-top navbar-inverse newHeader">
	<div class="container">
	<%= form_tag( product_search_path) do  %>
		<div class="product-search">
		<%= autocomplete_field_tag 'search', nil,product_autocomplete_product_name_path, placeholder: 'Search item...',class: "form-control search-query" %>
		<%= submit_tag "Search", class: "btn btn-primary" %>
		</div>
	<% end %>
		<nav>
			<ul class="nav navbar-nav navbar-right">
			
				<li>
				<%= link_to "Home", root_path %>
				</li>

				<li> <%= link_to "Cart", cart_index_path %>
					<% if user_signed_in? && cart_counter.to_i >0 %>
						<div class="cart-counter"><%= cart_counter %></div> 
					<% end %>
					
						</li>
				<% if (user_signed_in? && current_user.isAdmin?) %>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown"> Admin settings <b class="caret"></b>
	            		</a>
	            		<ul class="dropdown-menu">
	            			<li> <%= link_to "Add product", new_product_path, 'data-no-turbolink' => true %>
	            			</li>
	            			<li> <%= link_to "Users", admin_index_path %> </li>
	            			<li> <%= link_to "Add locations", locations_path %> </li>
	            			<li> <%= link_to "Orders management", admin_orders_status_path(:filter=>1) %> </li>
	            		</ul>
					</li>
					
				<% end %>
							
				<% if user_signed_in? %>
					
					<li class="dropdown">
						<a href="#" class="dropdown-toggle user-image" data-toggle="dropdown"> 
						<%= image_tag("users/"+(current_user.image.to_s.blank?? "user-default.png" : current_user.image.to_s),alt: current_user.fullname,title: current_user.fullname) %> 
						<b class="caret"></b>
	            		</a>
	            		<ul class="dropdown-menu">
	            			<li> <%= link_to "My account", user_account_path(current_user.id) %></li>
	            			<li> <%= link_to "Edit account", edit_user_registration_path %></li>
	            			<li> <%= link_to "My Orders", order_index_path %></li>
	            			<li> <%= link_to "Account close", user_account_path(current_user.id) , method: :delete, data: {confirm: "Are you sure to close your account?"} %></li>
	            			
	            			<li class="divider"></li>
	            			
	            			<li><%= link_to "Logout", destroy_user_session_path, method: "delete" %></li>
	            		</ul>
					</li>
				<% else %>
				
				<li>
				<%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %></li> 
					<li>
					<%= link_to "Log in", new_user_session_path %>
					</li>
				<% end %>

			</ul>
		</nav>
	</div>
</header>

