
<form id="formID" method="post">
          <p>
            <%= text_field(:payee,:first_name, placeholder: "First name", class: "validate[required] form-control") %>
          </p>
          <p>
            <%= text_field(:payee,:last_name, placeholder: "Last name", class: "validate[required] form-control") %>
          </p>
          <p>
            <%= select_tag "card_type", options_for_select([["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], params[:card_type]), class: "validate[required] form-control" %>
          </p>
          <p>
            <%= text_field(:payee, :card_number, placeholder: "Card number", class: "validate[required] form-control") %>
          </p>
          <p>
            <%= text_field(:payee, :card_verification, placeholder: "CVV", class: "validate[required] form-control") %>
          </p>
          <p>
            <%= date_select :date, :card_expires_on, :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+15), :use_two_digit_numbers => true, class: "validate[required] form-control" %>
          </p>
        
</form>
