
	<!-- Modal -->
  <div class="modal fade" id="payment_modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding:35px 50px;">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4><span class="glyphicon glyphicon-lock"></span> Payment section
          		 <a href="#", class="btn btn-primary lnk-add-new-addr" >Add new address</a>
          </h4>
         
        </div>
        <div class="modal-body" style="padding:40px 50px;">
        <div class="panel-group" id="accordion">
         <div class="panel panel-default">
	        <div id="id_address_section_toogle" class="panel-heading" > 
				<h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" data-target=".address-each-section">
			        <a class="accordion-toggle">
			          Change address
			        </a>
				</h4>
	         </div>
          <% if (user_signed_in?) %>
			<div class="address-each-section collapse", >
				<% for address in shipping_addresses %>
					<div>
						<%= radio_button_tag 'shipping_address', address.id, address.isSelected %>
						<span><%= address.address_to_ship %></span>
						<%= link_to image_tag("delete-icon.png",alt: "image",title: "remove", class: "remove-address", id: "remove_#{address.id}"),"#" %> 
						
					</div>
				<% end %>
			</div>
	<% end %>
	<div >

	<textarea id="txt_area_new_address", placeholder="Add new address", rows="6" style="display:none;"></textarea> </div>

	</div>

	<div class="panel panel-default">
	    <div id="id_address_section_toogle" class="panel-heading" > 
		    <h4 class="panel-title"  data-toggle="collapse" data-parent="#accordion" data-target="#toogle_card_details">
		        <a class="accordion-toggle">
		          Enter card details
		        </a>
			</h4>
		</div>
		<div id="toogle_card_details" >
			<div style="width: 100%; float: left; margin: 16px 0;">
				<%= render "layouts/payment_card" %>
			</div>
	        <div class="modal-footer">
		         <div class="div-check-out" style="text-align:center;">
				<% if controller_name == "cart" %>
					<a href="#", class="btn btn-primary", id="link_check_out" > Check out</a>
				<% else %>
					<a href="#", class="btn btn-primary", id="link_product_check_out" > Check out</a>
				<% end %>
					
				</div>
	        </div>
        </div>
	</div>
   </div> 
    
   </div>

  </div>

 </div> 
</div>
