<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>  
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js" %>
  
  <meta content='<%= user_signed_in? ? current_user.id : "" %>' name='user-id'/>
</head>
<body>

<%= render 'layouts/header' %>
	<div class="side-menu-div">
		<ul>
		<% @product_types = product_types -%>
			<% @product_types.each do |product_type| %>
			<li><%= link_to product_type.name,product_index_path(:filter=>product_type.id) %></li>
			<% end %>
		</ul>
	</div>
	<div class="container contain-section">
	
	<%= render partial: "shared/flash_messages", flash: flash %> 
	
	<%= yield %>

	</div>
	<% if user_signed_in? %>
		<div id="users-list-for-chat">

			<div class="chat-header">Chat </div>
			<ul class="list">
			<% $users.each_with_index do |user, index| %>
			 <% if user != current_user %>    
			    <li>
			        <%= link_to user.fullname, "#", class: "btn btn-xs start-conversation",
			                    "data-sid" => current_user.id, "data-rip" => user.id %>
			      
			    </li>
			 <% end %>
			<% end %>			
			</ul>
			<input type="text", id="txt_search_user_for_chat", class="txt-chat-search-user search", placeholder="Search user" /> 
		</div>
	<% end %>
		<%= render 'layouts/footer' %>
		<div id="wait" style="display: none; width: 100%; height: 100%; position: absolute; top: 0%; padding: 2px;
		 background-color: transparent; z-index: 9999; text-align: center; "><img src='/assets/ajaxSpinner.gif' width="64" height="64" /><br>Loading..</div>
		 <audio id="chatAudio"><source src="/message_notification_tone/notification.mp3" type="audio/mp3"></audio>
</body>

</html>
